*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Space Mono';
    src: url(../Fonts/SpaceMono-Bold.ttf);}

    @font-face{
        font-family:'Work Sans';
        src: url(../Fonts/WorkSans-VariableFont_wght.ttf)}

body{
    margin: 0px;
    padding: 0px;
    background-color: #2B2B2B;
}

.bg-nav{
    background-color: #2B2B2B !important;
}
.nav-link{
color: #FFFFFF;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
}

.btn1{width: 152px;
    height: 60px;
    text-transform: capitalize;
    background: #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
}

h1 {
    font-weight: 600;
    font-size: 67px;
    color: #FFFFFF;
}

.text-hft{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .box-foto { display: none !important; } }

.btn5{
width: 247px;
height: 60px;
gap: 12px;
align-items: center;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
}

.blur{
    position: absolute;
    height: 270px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 20px 20px 0px 0px;
}

@media screen and (max-width: 768px)
 { .blur { height: 142px; } }

.box-categories{
width: 240px;
height: 76px;
padding: 20px 30px 25px;
}

.box-nummer{
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    text-align: center;
    padding-top:3px;
    margin-top:15px;
    margin-left: 15px;
    color: #858584;
    font-size: 16px;
    font-family: 'Space Mono';
    font-weight: 400;
}

.btn-box{
   display: flex;
   width: 420px;
  height: 60px;
  padding: 0px;
   background: #FFFFFF;
   border-radius: 20px;
   margin-left: auto;
}

.input{
height: 60px;
padding:0px 20px;
border-radius: 20px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
border: none;

color: #2B2B2B;
}

.btn3{
    width: 190px;
    height: 60px;
    padding:0px 20px;
    border-radius: 20px;
    background: #A259FF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}

.blur2{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(162, 89, 255, 0) 0%, #A259FF 100%);
}

.text-join{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 160%;
}

.text-place{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;

color: #CCCCCC;
}