*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Space Mono';
    src: url(../Fonts/SpaceMono-Bold.ttf);}

    @font-face{
        font-family:'Work Sans';
        src: url(../Fonts/WorkSans-VariableFont_wght.ttf)}

body{
    margin: 0px;
    padding: 0px;
    background-color: #2B2B2B;
   
}

.bg-nav{
    background-color: #2B2B2B !important;
}
.nav-link{
color: #FFFFFF;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
}

.btn1{width: 152px;
    height: 60px;
    text-transform: capitalize;
    background: #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .btn1 { 
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    background: #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
  } }


h1 {
    font-weight: 600;
    font-size: 67px;
    color: #FFFFFF;
}

.text-hft{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .box-foto { display: none !important; } }


.btn5{
width: 247px;
height: 60px;
gap: 12px;
align-items: center;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
}

@media screen and (max-width: 768px)
 { .btn5 { 
width: 100%;
height: 60px;
gap: 12px;
align-items: center;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
  } }

  .btn6{
    width:187px;
    height: 60px; 
    border: 2px solid #A259FF;
    background: #2B2B2B;
    border-radius: 20px;
    align-items: center;
  }
  
  @media screen and (max-width: 768px)
 { .btn6 { 
width: 100%;
height: 60px;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
  } }


.blur{
    position: absolute;
    height: 306px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 20px 20px 0px 0px;
}

@media screen and (max-width: 768px)
 { .blur { height: 172px; } }

.box-categories{
width: 240px;
height: 76px;
padding: 20px 30px 25px;
}

.block-num{
    
    top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    text-align: center;
    color: #858584;
    font-size: 16px;
    font-family: 'Space Mono';
    font-weight: 400;
}

.btn-box{
   display: flex;
   margin-top: 20px;
   width: 420px;
   padding: 0px;
   background: #FFFFFF;
   border-radius: 20px;
}

@media screen and (max-width: 768px)
 { .btn-box { 
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0px;
   background: transparent;
   border-radius: 20px;
   margin-left: auto;
   flex-direction: column;
  } }


.input{
height: 60px;
padding:0px 20px;
border-radius: 20px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
border: none;
outline: none;
color: #2B2B2B;
}

.btn3{
    width: 100%;
    height: 60px;
    padding:0px 20px;
    border-radius: 20px;
    background: #A259FF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}

.timer{
    width:100%;
     background: rgba(59, 59, 59, 0.5);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     padding: 30px;
     text-transform: capitalize;
     color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .timer { 
    width:100%;
    margin-bottom: 25px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 30px 10px;
    text-transform: capitalize;
    color: #FFFFFF;
 } }

.text-join{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 160%;
margin-bottom: 33px;
}

.text-place{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;

color: #CCCCCC;
}

.card-group{
    
    align-items: center;
    gap: 70px;
   padding: 15px;
    background: #3B3B3B;
    border-radius:20px;
    font-family: 'Work Sans';
    font-style: normal;
}

@media screen and (max-width: 768px)
 { .card-group{ background: transparent;} }

 .card{
    background: #3B3B3B;
    border: none;
 }

 h5{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 51px;
 }

 .typeform{  
width: 330px;
height: 46px;
padding: 0px 20px;
background: #FFFFFF;
border: 1px solid #858584;
border-radius: 20px;
 }

 .input{
    font-size:16px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-style:normal; 
    color:#2B2B2B;
    background: none;
 }

 .typeform1{  
    padding: 0px 75px;
    width: 330px;
    height: 46px;
    background: #A259FF;
    border: 1px solid #858584;
    border-radius: 20px;
     }
     
 