*{
    box-sizing: border-box;
   }

   @font-face {
    font-family:'Space Mono';
    src: url(../Fonts/SpaceMono-Bold.ttf);}

    @font-face{
        font-family:'Work Sans';
        src: url(../Fonts/WorkSans-VariableFont_wght.ttf)}

body{
    margin: 0px;
    padding: 0px;
    background-color: #2B2B2B;
   
}

.bg-nav{
    background-color: #2B2B2B !important;
}
.nav-link{
color: #FFFFFF;
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
}

.btn1{width: 152px;
    height: 60px;
    text-transform: capitalize;
    background: #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .btn1 { 
    width: 100%;
    height: 60px;
    text-transform: capitalize;
    background: #A259FF;
    border-radius: 20px;
    color: #FFFFFF;
    border: none;
  } }


h1 {
    font-weight: 600;
    font-size: 67px;
    color: #FFFFFF;
}

.text-hft{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;
color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .box-foto { display: none !important; } }


.btn5{
width: 247px;
height: 60px;
gap: 12px;
align-items: center;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
}

@media screen and (max-width: 768px)
 { .btn5 { 
width: 100%;
height: 60px;
gap: 12px;
align-items: center;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
  } }

  .btn6{
    width:187px;
    height: 60px; 
    border: 2px solid #A259FF;
    background: #2B2B2B;
    border-radius: 20px;
    align-items: center;
  }
  
  @media screen and (max-width: 768px)
 { .btn6 { 
width: 100%;
height: 60px;
border: 2px solid #A259FF;
border-radius: 20px;
background: #2B2B2B;
  } }


.blur{
    position: absolute;
    height: 306px;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7.5px);
    border-radius: 20px 20px 0px 0px;
}

@media screen and (max-width: 768px)
 { .blur { height: 172px; } }

.box-categories{
width: 240px;
height: 76px;
padding: 20px 30px 25px;
}

.block-num{
    
    top: 20px;
    margin-left: 20px;
    width: 30px;
    height: 30px;
    background: #2B2B2B;
    border-radius: 20px;
    text-align: center;
    color: #858584;
    font-size: 16px;
    font-family: 'Space Mono';
    font-weight: 400;
}

.btn-box{
   display: flex;
   margin-top: 20px;
   width: 420px;
   padding: 0px;
   background: #FFFFFF;
   border-radius: 20px;
}

@media screen and (max-width: 768px)
 { .btn-box { 
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 0px;
   background: transparent;
   border-radius: 20px;
   margin-left: auto;
   flex-direction: column;
  } }


.input{
height: 60px;
padding:0px 20px;
border-radius: 20px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
border: none;
outline: none;
color: #2B2B2B;
}

.btn3{
    width: 100%;
    height: 60px;
    padding:0px 20px;
    border-radius: 20px;
    background: #A259FF;
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
}

.timer{
    width:100%;
     background: rgba(59, 59, 59, 0.5);
     backdrop-filter: blur(5px);
     border-radius: 20px;
     padding: 30px;
     text-transform: capitalize;
     color: #FFFFFF;
}

@media screen and (max-width: 768px)
 { .timer { 
    width:100%;
    margin-bottom: 25px;
    background: rgba(59, 59, 59, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    padding: 30px 10px;
    text-transform: capitalize;
    color: #FFFFFF;
 } }

.text-join{
font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 160%;
margin-bottom: 33px;
}

.text-place{
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 160%;

color: #CCCCCC;
}

.card-group{
    
    align-items: center;
    gap: 70px;
   padding: 15px;
    background: #3B3B3B;
    border-radius:20px;
    font-family: 'Work Sans';
    font-style: normal;
}

@media screen and (max-width: 768px)
 { .card-group{ background: transparent;} }

 .card{
    background: #3B3B3B;
    border: none;
 }

 h5{
font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 51px;
 }

 .typeform{  
width: 330px;
height: 46px;
padding: 10px 20px;
background: #FFFFFF;
border: 1px solid #858584;
border-radius: 20px;
 }

 @media screen and (max-width: 768px)
 { .typeform{ width: 100%; } }


 .input1{
    font-size:16px;
    font-family: 'Work Sans';
    font-weight: 400;
    font-style:normal; 
    color:#2B2B2B;
    border: none;
    outline: none;
 }

 @media screen and (max-width: 768px)
 { .typeform1{  width: 100%;  } }

.btn11{
width: 330px;
height: 46px;
background: #A259FF;
border: 1px solid #858584;
border-radius: 20px;
        }

        @media screen and (max-width: 768px)
 { .btn11{  width: 100%;  } }


 .main13{
position: absolute;
left: 8%;
right: 0%;
top: 47%;
bottom: 0%;
 }

 @media screen and (max-width: 768px)
 { .main13{position: absolute;
    left: 35%;
    right: 0%;
    top: 40%;
    bottom: 0%; } }

 .btn13{
width: 186px;
height: 60px;
background: #A259FF;
border-radius: 20px;
border: none;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;

color: #FFFFFF;
 }

 @media screen and (max-width: 768px)
 { .btn13{width: 100%;
    height: 60px;
    background: #A259FF;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    
    color: #FFFFFF; } }

    @media screen and (max-width: 768px)
 { .btn12{
width: 100% !important;
margin-left: 0px !important;
height: 60px;
background: #2B2B2B;
border: 2px solid #A259FF;
border-radius: 20px;
margin-bottom: 15px;

color: #FFFFFF;
font-style: normal;
font-family: 'Work Sans';
font-weight: 600;
font-size: 16px;
  } }

 .btn12{
width: 145px;
height: 60px;
margin-left: 20px;
background: #2B2B2B;
border: 2px solid #A259FF;
border-radius: 20px;

color: #FFFFFF;
font-style: normal;
font-family: 'Work Sans';
font-weight: 600;
font-size: 16px;
 }
 
 @media screen and (max-width: 768px)
 { .main-nummer { display: none !important; } }

 .box-wallet{
width: 320px;
height: 72px;
background: #3B3B3B;
border: 1px solid #A259FF;
border-radius: 20px;
padding: 15px 20px 15px 40px;
 }

 .text-wallet{
    text-transform: capitalize;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    
    color: #FFFFFF;
 }

 .timer15{
width: 295px;
background: #3B3B3B;
border-radius: 20px;
padding: 18px;
 }

 @media screen and (max-width: 768px)
 { .timer15{
      width: 100% !important;
 } }

 .btn15{
width: 235px;
height: 60px;
background: #A259FF;
border-radius: 20px;
border: none;
margin-top: 25px;


font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
 }

 .btn15-1{
 width: 150px;
height: 46px;
background: #3B3B3B;
border-radius: 20px;
border: none;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
text-transform: uppercase;

color: #FFFFFF;
 }

 .btn15-2{
width: 175px;
height: 46px;
background: #3B3B3B;
border-radius: 20px;
border: none;
margin-left: 20px;
margin-right:20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
text-transform: uppercase;

color: #FFFFFF;
 }

 .btn15-3{
 width: 110px;
height: 46px;
background: #3B3B3B;
border-radius: 20px;
border: none;
margin-right: 20px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 16px;
text-transform: uppercase;

color: #FFFFFF;
 }

 @media screen and (max-width: 768px)
 { .tags-frame{display: flex;
     flex-direction: column !important; 
     width: 100% !important;
     margin-left:auto !important;
    padding: 0px;} }

    @media screen and (max-width: 768px)
 { .btn15-2{
    margin: 0px;
    margin-top: 20px; 
    margin-bottom: 20px;  
 } }

 @media screen and (max-width: 768px)
 { .btn15-3{
      margin-bottom: 20px;
 } }

 .btn15-4{
width: 267px;
height: 60px;
background: #2B2B2B;
border: 2px solid #A259FF;
border-radius: 20px;
 }

 @media screen and (max-width: 768px)
 { .btn15-4{
      width: 100% !important;
 } }